# Universidad Libre - Seccional Cali<br>Facultad de Ingeniería - Diplomado en Ciencia de Datos<br>(ↄ) Diego Fernando Marin, 2024

# 03_EDA
Plantilla para el desarrollo del proyecto del diplomado de Ciencia de Datos, aplicando buenas prácticas.

---

Este cuaderno se centra en comprender profundamente los datos mediante análisis estadístico y visualización. El EDA nos permite descubrir patrones, relaciones y características importantes en los datos.

**Propósito:** Obtener insights sobre los datos y preparar el terreno para la selección de características relevantes para el modelado.

**Tareas habituales:**
- Análisis univariante de variables
- Análisis de correlaciones
- Visualización de distribuciones
- Detección de patrones y tendencias
- Análisis de series temporales si aplica
- Identificación de relaciones entre variables
- Generación de hipótesis
- Documentación de insights importantes

**Cada sección debe tener**:
- La Pregunta que se realiza sobre los datos
- El código que genera las tablas o los gráficos donde encontramos la respuesta
- El código que da respuesta a dicha pregunta
- La interpretar del resultado
- Las conclusiones

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
cwd = os.getcwd() # current working directory
trusted_dir = cwd + '/../data/trusted/'

In [3]:
df = pd.read_csv(trusted_dir + 'datos_limpios.csv', parse_dates=['fecha'])

In [15]:
df

         fecha   SKU   vental_total  dia  mes   año  weekday dia_semana
0   2022-11-01  1434  121672.710000    1   11  2022        1          M
1   2022-11-02  1656  133636.640000    2   11  2022        2          X
2   2022-11-03  1875  210932.180000    3   11  2022        3          J
3   2022-11-04  1434  111660.390000    4   11  2022        4          V
4   2022-11-05  1545  146417.560000    5   11  2022        5          S
..         ...   ...            ...  ...  ...   ...      ...        ...
512 2024-03-27  1156  452331.135622   27    3  2024        2          X
513 2024-03-28  1375  246045.083440   28    3  2024        3          J
514 2024-03-29   934  425815.429745   29    3  2024        4          V
515 2024-03-30  1156  320997.018300   30    3  2024        5          S
516 2024-03-31  1375  435508.682266   31    3  2024        6          D

[517 rows x 8 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   fecha         517 non-null    datetime64[ns]
 1   SKU           517 non-null    int64
 2   vental_total  517 non-null    float64
 3   dia           517 non-null    int64
 4   mes           517 non-null    int64
 5   año           517 non-null    int64
 6   weekday       517 non-null    int64
 7   dia_semana    517 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 32.4+ KB

In [11]:
df.vental_total.describe()

count       517.000000
mean     268004.776368
std      108913.478612
min       92577.900000
25%      163098.190000
50%      285168.248500
75%      370669.886000
max      452331.135622
Name: vental_total, dtype: float64

# Análisis de Datos

**Pregunta**: Cuál es el promedio de ventas por mes/año?

In [13]:
# código para responder la pregunta
df.groupby(['año', 'mes'])['vental_total'].mean()

año   mes
2022  11     150319.656333
      12     153705.420323
2023  1      151980.946129
      2      295981.772018
      3      323387.356296
      4      329503.481035
      5      292378.040323
      6      329503.481035
      7      295608.872581
      8      323387.356296
      9      293595.525167
      10     292378.040323
      11     289768.312133
      12     151980.946129
2024  1      257246.060000
      2      285681.692966
      3      345221.058331
Name: vental_total, dtype: float64

In [ ]:
# hacer una gráfica de los datos

**Respuesta**: Como se puede observar en la gráfica, blablabla

**Conclusión**: Se observa que los meses con mayor venta promedio son los meses de vacaciones.
- apuntan a los _Insights_, un descubrimiento sobre los datos

## Análisis de Correlación

Identificar las columnas que tienen mayor impacto sobre mi modelo

**Último paso**: Guardar los datos ya analizados, organizados y listos para entrenar un modelo ML

In [17]:
df.to_csv(trusted_dir + 'datos_limpios_ml.csv', index=False)